
$fonts: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;

$brand: #0273d4;
$light-grey: #f6f6f6;
$dark-grey: #545555;
$white: #fff;

* {
  box-sizing: border-box;
  margin: 0;
  // padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: $light-grey;
  color: $dark-grey;
  font: 400 1em/1.25 $fonts;
}

::selection {
  background-color: $brand;
  color: $white;
}

a {
  color: $brand;
  text-decoration: none;

  &:hover {
    border-bottom: 1px dotted $brand;
  }
}

p {
  margin-bottom: 1em;
}

h1 {
  border-bottom: 1px dotted $brand;
  display: block;
  font-weight: 300;
  margin: 2rem 0 1rem;
  padding-bottom: 0.5rem;
}

.loading {
  padding: 1em;
}

.demo-header {
  align-items: center;
  background: $brand;
  box-shadow: 0 0.1em 1.5em rgba($dark-grey, 0.5);
  color: $white;
  display: block;
  padding: 1em;
  margin-bottom: 5px;
}

  .demo-header__toggle {
    background: transparent;
    border: 0.15rem solid $white;
    border-left: 0;
    border-right: 0;
    cursor: pointer;
    font-size: 0;
    height: 1.5rem;
    margin-right: 1rem;
    position: relative;
    width: 2rem;

    &::after {
      background: $white;
      content: '';
      height: 0.15rem;
      left: 0;
      margin-top: -0.075rem;
      position: absolute;
      top: 50%;
      width: 100%;
    }
  }

.demo-sidebar, .topnav {
    background-color: $brand;
}
.demo-sidebar {
    top: 63px;
    left: 225px;
    bottom: 0;
    width: 225px;
    height: 100%;
    // margin-left: -225px;
    padding-bottom: 40px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all .2s ease-in-out;
}
  .demo-sidebar .list-group a.list-group-item {
        background: $brand;
        border: 0;
        border-radius: 0;
        color: $white;
        text-decoration: none;
    }
    .demo-sidebar .list-group a.router-link-active, .demo-sidebar .list-group a:hover {
        background: $white;
        color: $brand;
    }
.demo-sidebar {
  padding: 2em 1em;

  &.ng-sidebar--over {
    box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
  }
}

.demo-contents {
  padding: 0 2em;
}

.demo-control {
  background-color: $light-grey;
  border: 1px solid $dark-grey;
  cursor: pointer;
  margin-bottom: 0.5em;
  padding: 0.5em 2em;
  transition: background-color 0.15s;

  &:hover {
    background-color: $dark-grey;
    color: $white;
  }
}


.navbar-dark .navbar-brand, .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: hsla(0,0%,100%,.5);
}

    .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
        color: hsla(0,0%,100%,.75);
    }

    .card-inverse .card-blockquote, .card-inverse .card-footer, .card-inverse .card-header, .card-inverse .card-title, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .active > .nav-link:focus, .navbar-dark .navbar-nav .active > .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.active:focus, .navbar-dark .navbar-nav .nav-link.active:hover, .navbar-dark .navbar-nav .nav-link.open, .navbar-dark .navbar-nav .nav-link.open:focus, .navbar-dark .navbar-nav .nav-link.open:hover, .navbar-dark .navbar-nav .open > .nav-link, .navbar-dark .navbar-nav .open > .nav-link:focus, .navbar-dark .navbar-nav .open > .nav-link:hover {
        color: #fff;
    }

.navbar-dark .navbar-divider {
    background-color: hsla(0,0%,100%,.075);
}

.topnav {
    border-radius: 0;
    padding: 6px;
    // z-index: 2;
}
.topnav .text-center {
        text-align: center;
        padding-left: 0;
    }
.topnav a {      
  background: $brand;
  color: $white;
}
    .topnav .top-right-nav .buy-now a {
        color: #999;
    }

    .topnav .top-right-nav .dropdown-menu {
        top: 40px;
        right: -5px;
        left: auto;
    }

        .topnav .top-right-nav .dropdown-menu .message-preview .media .media-body .media-heading {
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 0;
        }

        .topnav .top-right-nav .dropdown-menu .message-preview .media .media-body p {
            margin: 0;
        }

            .topnav .top-right-nav .dropdown-menu .message-preview .media .media-body p.last {
                font-size: 13px;
                margin-bottom: 0;
            }

        .topnav .top-right-nav .dropdown-menu hr {
            margin-top: 1px;
            margin-bottom: 4px;
        }
