<div class="panel panel-default zz">
  <div class="panel-heading">

    <h2> {{headerText}} </h2>
    <button *ngIf="!Formstate && currentUser.jobClass < 1" class="btn btn-primary" (click)="CreateNew()">Create New</button>
    <br><br>
    <div class="alert alert-danger" *ngIf="errorMessage">
      <p>{{errorMessage}}</p>
    </div>
  </div>
  <div class="panel-body table-responsive" *ngIf="showTable">
    <table id="tblQuest" class="table table-hover table-striped">
      <colgroup>
        <col width="40%" />
        <col width="30%" />
        <col width="30%" />
      </colgroup>
      <thead>
        <tr>
          <th> Question Text <i (click)="SortTable('QText')" class="btn btn-default" [ngClass]="(orderbyString.indexOf('QText') == 1) ? orderbyClass : 'glyphicon glyphicon-sort'"></i></th>
          <th> Keyword <i (click)="SortTable('Keyword')" class="btn btn-default" [ngClass]="(orderbyString.indexOf('Keyword') == 1) ? orderbyClass : 'glyphicon glyphicon-sort'"></i></th>
          <th></th>
        </tr>
        <tr>
          <th>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-search"></i></span>
              <input type="text" class="form-control" id="srchQText" name="QText" [(ngModel)]="srcObj.QText">
            </div>
          </th>
          <th>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-search"></i></span>
              <input type="text" class="form-control" id="srchKeyword" name="Keyword" [(ngModel)]="srcObj.Keyword">
            </div>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of (collection | filter:srcObj | orderby:orderbyString) | paginate: { itemsPerPage: 25, currentPage: p }">
          <td>{{item.QText}}</td>
          <td>{{item.Keyword}}</td>
          <td>
            <button *ngIf="currentUser.jobClass < 1" (click)='EditThis(item.QID)' class="btn btn-info" title="Edit"><i class="glyphicon glyphicon-pencil"></i></button>
            <button (click)="ShowDetails(item.QID)" class="btn btn-warning" title="Details"><i class="glyphicon glyphicon-eye-open"></i></button>
            <button *ngIf="currentUser.jobClass < 1" (click)="Delete(item.QID)" class="btn btn-danger" title="Delete"><i class="glyphicon glyphicon-trash"></i></button>
          </td>
        </tr>

      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event" maxSize="10"></pagination-controls>
  </div>

  <div class="panel-body" *ngIf="Formstate">
    <form (submit)="HandleForm($event)" #f="ngForm" novalidate>
      <div class="form-horizontal">

        <h2 *ngIf="Formstate == 'Delete'">Are you sure you want to delete this Survey Question ?</h2>
        <br>
        <div class="card">
          <h3 class="card-header alert alert-success" style="margin: 10px 5px; padding: 5px;">Question Data</h3>
          <div class="card-block">
            <div class="form-group">
              <label for="QText" class="control-label col-md-2 col-sm-2">Question Text</label>
              <div class="col-md-10 col-sm-10">
                <input class="form-control" type="text" name="QText" [(ngModel)]="model.QText" #qtext="ngModel" required>
                <div *ngIf="f.submitted && !qtext.valid" class="help-block">Question Text is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="Keyword" class="control-label col-md-2 col-sm-2">Keyword</label>
              <div class="col-md-10 col-sm-10">
                <input class="form-control" type="text" name="Keyword" [(ngModel)]="model.Keyword" #keywrd="ngModel">
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <h3 class="card-header alert alert-success" style="margin: 10px 5px; padding: 5px;">Answers</h3>
          <div class="card-block">
            <bsc-servA *ngIf="Formstate!='Details' && Formstate!='Delete'" [answers]="Answers" [ansModel]="answerModel" [oldAnswer]="oldAnswerEdit"
            (ansChanged)="ansChangeEvent($event)">
            </bsc-servA>
          </div>
          <table id="tblAnswers" class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Answer</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of Answers; let i = index">
                <td>{{item.AnswerText}}</td>
                <td><button type="button" class="btn btn-info" (click)="EditAnswer(i)">Edit</button>
                  <button type="button" class="btn btn-default" (click)="DeleteAnswer(i)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group no-print col-md-offset-2 col-md-10 col-sm-10">
          <button type="submit" value="Save" class="btn btn-info" *ngIf="Formstate!='Details' && Formstate!='Delete'">Save</button>          |
          <button type="submit" value="Delete" class="btn btn-info" *ngIf="Formstate == 'Delete'">Delete</button> |
          <button type="button" (click)="TableBack()" class="btn btn-danger">Back to List</button>
        </div>
      </div>
    </form>
  </div>
</div>
