<div class="card">
  <div class="card-header">

    <h2> {{headerText}} </h2>
    <button *ngIf="!Formstate" class="btn btn-primary" (click)="CreateNew(false)">Create New Visit</button>
    <button *ngIf="!Formstate" class="btn btn-primary" (click)="CreateNew(true)">Create New Hospital Visit</button>
    <br *ngIf="!Formstate">
    <div class="alert alert-danger" *ngIf="errorMessage">
      <p>{{errorMessage}}</p>
    </div>
  </div>
  <sk-folding-cube [isRunning]="spinner"></sk-folding-cube>
  <div class="card-block" *ngIf="showTable">
    <div class="form-group row alert alert-success" style="margin: 10px 5px; padding: 5px;" *ngIf="currentUser.jobClass != 3">
      <label for="userID" class="control-lable col-md-3 text-right">Select a User</label>
      <div class="col-md-9">
        <select class="form-control" name="userID" (change)="UserChanged($event)">
          <option value="null">Select a User...</option>
          <option *ngFor="let user of users" [value]="user.UserID">{{user.UserName + " @ "+ user.LineName}}</option>
        </select>
      </div>
    </div>
    <div *ngIf="selUser">
      <app-visit-uservisits [UserID]="selUser.UserID" [currentUser]="currentUser" [collection]="collection" (DeleteEvent)="Delete($event)"
        (DetailEvent)="ShowDetails($event)" (EditEvent)="EditThis($event)" (DetailEvent)="ShowDetails($event)">
      </app-visit-uservisits>
    </div>
  </div>

  <div class="card-block" *ngIf="Formstate">
    <form [formGroup]="inFrm" (submit)="HandleForm(inFrm.value)" novalidate>
      <div class="form-horizontal">
        <h2 *ngIf="Formstate == 'Delete'">Are you sure you want to delete this visit ?</h2>
        <br>
        <section id="basic">
          <div class="card">
            <h3 class="card-header alert alert-info" style="margin: 10px 5px; padding: 5px;">Basic Data</h3>
            <div class="card-block">
              <div class="form-group" [ngClass]="{ 'has-error': inFrm.get('submitted') && !inFrm.get('visType').valid }">
                <label for="VisitType" class="control-label col-md-2 col-sm-2">Visit Type</label>
                <div class="col-md-10 col-sm-10">
                  <select class="form-control" name="VisitType" [(ngModel)]="model.VisitType" formControlName="visType">
                    <option value="">Select a Visit Type...</option>
                    <option *ngFor="let i of visTypes" [ngValue]="i.name">{{i.name}}</option>
                  </select>
                  <div class='error' *ngIf="inFrm.get('visType').touched && !inFrm.get('visType').valid">
                    <div class="alert alert-danger" *ngIf="inFrm.get('visType').hasError('required')">Visit Type is required.</div>
                  </div>
                </div>
              </div>
              <div class="form-group" *ngIf="model.VisitType == 'Coaching Visit-With Manager'" [ngClass]="{ 'has-error': inFrm.get('submitted') && !inFrm.get('accompanyID').valid }">
                <label for="AccompanyID" class="control-label col-md-2 col-sm-2">Accompanied By</label>
                <div class="col-md-10 col-sm-10">
                  <select class="form-control" name="AccompanyID" [(ngModel)]="model.AccompanyID" formControlName="accompanyID">
                    <option value="">Select a Manger...</option>
                    <option *ngFor="let i of managers" [ngValue]="i.UserID">{{i.UserName}} - {{i.JobClass}}</option>
                  </select>
                  <div class='error' *ngIf="inFrm.get('accompanyID').touched && !inFrm.get('accompanyID').valid">
                    <div class="alert alert-danger" *ngIf="inFrm.get('accompanyID').hasError('mngrRequired')">Accompanied By field is required.</div>
                  </div>
                </div>
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': inFrm.get('submitted') && !inFrm.get('visDate').valid }">
                <label for="VisitDate" class="control-label col-md-2 col-sm-2">Visit Date</label>
                <div class="col-md-10 col-sm-10">
                  <input id="VisitDate" class="form-control" type="date" name="VisitDate" [(ngModel)]="cnvVisitDate" formControlName="visDate"
                    [min]="yesterday" [max]="thisday">
                  <div class='error' *ngIf="(inFrm.get('visDate').touched && !inFrm.get('visDate').valid) || (inFrm.get('submitted') && !inFrm.get('visDate').valid)">
                    <div class="alert alert-danger" *ngIf="inFrm.get('visDate').hasError('required')">Visit Date is required.</div>
                    <div class="alert alert-danger" *ngIf="inFrm.get('visDate').hasError('minDate')">Visit Date must be within two days old.</div>
                    <div class="alert alert-danger" *ngIf="inFrm.get('visDate').hasError('maxDate')">Visit Date must be within two days old.</div>
                  </div>
                </div>
              </div>
              <!-- <div class="form-group" [ngClass]="{ 'has-error': inFrm.get('submitted') && !visTime.valid }">
                     <label for="VisitTime" class="control-label col-md-2 col-sm-2">Visit Time</label>
                     <div class="col-md-10 col-sm-10">
                        <input class="form-control" type="time" name="VisitTime" [(ngModel)]="cnvVisitTime" formControlName="visTime">
                        <div class='error' *ngIf="(visTime.touched && !visTime.valid) || (inFrm.get('submitted') && !visTime.valid)">
                           <div class="alert alert-danger" *ngIf="visTime.hasError('required')">Visit Time is required.</div>
                           <div class="alert alert-danger" *ngIf="visTime.hasError('maxTime')">Visit Time is Invalid.</div>
                        </div>
                     </div>
                  </div> -->
              <div *ngIf="isHospital">
                <div class="form-group" [ngClass]="{ 'has-error': inFrm.get('submitted') && !inFrm.get('destination').valid }">
                  <label for="DestID" class="control-label col-md-2 col-sm-2">Hospital</label>
                  <div class="col-md-10 col-sm-10">
                    <select class="form-control" name="DestID" [(ngModel)]="model.DestID" formControlName="destination">
                      <option value="">Select a Hospital...</option>
                      <option *ngFor="let i of ViewDests" [ngValue]="i.DestID">{{i.Destination}}</option>
                    </select>
                    <div class='error' *ngIf="(inFrm.get('destination').touched && !inFrm.get('destination').valid) || (inFrm.get('submitted') && !inFrm.get('destination').valid)">
                      <div class="alert alert-danger" *ngIf="inFrm.get('destination').hasError('required')">Hospital is required.</div>
                      <div class="alert alert-danger" *ngIf="inFrm.get('destination').hasError('maxVisit')">this Hospital has been visited the max numbers of visits allowed this month.</div>
                    </div>
                  </div>
                </div>
                <div class="card row" formGroupName="docGroup">
                  <h4 class="card-header text-center">Available Doctors
                    <small class="text-muted">choose one from the list</small>
                  </h4>
                  <div class="card-body">
                    <div class="col-md-6 col-sm-12 col-12">
                      <div class="form-group">
                        <label for="Doctor" class="control-label col-md-4 col-sm-4">Doctor</label>
                        <div class="col-md-8 col-sm-8">
                          <input type="text" formControlName="doctor" class="form-control">
                          <small class="text-muted">you can search for existing doctos or add new one</small>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="MedSpecID" class="control-label col-md-4 col-sm-4">Speciality</label>
                        <div class="col-md-8 col-sm-8">
                          <select class="form-control" name="MedSpecID" formControlName="spec" [disabled]="Formstate == 'Complete Data' || Formstate == 'RemoveRequest' || Formstate == 'AssignRequest'">
                            <option value="">Select a Speciality...</option>
                            <option *ngFor="let i of MedSpecList" [ngValue]="i.SpecID">{{i.SpecName}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <button type="button" class="btn btn-info pull-right" (click)="AddDoctor()"> Add New </button>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12">
                      <ng2-completer name="Doctor" formControlName="doctor" [datasource]="docNameslist" [minSearchLength]="0" [maxChars]="100"
                        [selectOnClick]='true' [clearUnselected]='true' [placeholder]="'Search Doctors'" [textNoResults]="'No Doctors found'"
                        [inputClass]="'form-control'" (selected)="docSelect()">
                      </ng2-completer>
                      <ul id="doclist" class="list-group list-group-flush d-flex flex-column" style="width: 100%; height: 250px; border: 1.5px gray solid; overflow-y: scroll;">
                        <a href="javascript:void(0)" *ngFor="let doct of hsptlDocs; let i = index" class="list-group-item list-group-item-action"
                          id="'doc' + i" (click)="listClick($event, i)" [ngClass]="{'active': selectedIndex == i}">
                          <strong>{{doct.DoctorName}}</strong> :
                          <small class="text-light">{{doct.SpecName}}</small>
                        </a>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="!isHospital">
                <div class="form-group" [ngClass]="{ 'has-error': inFrm.get('submitted') && !inFrm.get('region').valid }">
                  <label for="RegionID" class="control-label col-md-2 col-sm-2">Regions</label>
                  <div class="col-md-10 col-sm-10">
                    <select class="form-control" name="RegionID" [(ngModel)]="model.RegionID" formControlName="region" (change)="onRegChange($event)">
                      <option value="">Select a Province...</option>
                      <option *ngFor="let i of regions" [ngValue]="i.RegionID">{{i.RegionName}} - {{i.ProvinceID}}</option>
                    </select>
                    <div class='error' *ngIf="inFrm.get('region').touched && !inFrm.get('region').valid">
                      <div class="alert alert-danger" *ngIf="inFrm.get('region').hasError('required')">Province is required.</div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-offset-2 col-sm-offset-2">
                    <label class="radio-inline control-label col-md-5 col-sm-5">
                      <input type="radio" name="DestType" (change)="onDestTypeChange($event, 'Clinic (Doctor)')" [checked]="model.DestType == 'Clinic (Doctor)'">Clinic (Doctor)
                    </label>
                    <label class="radio-inline control-label col-md-5 col-sm-5">
                      <input type="radio" name="DestType" (change)="onDestTypeChange($event, 'Pharmacy')" [checked]="model.DestType == 'Pharmacy'">Pharmacy
                    </label>
                  </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': inFrm.get('submitted') && !inFrm.get('destination').valid }">
                  <label for="DestID" class="control-label col-md-2 col-sm-2">Customer</label>
                  <div class="col-md-10 col-sm-10">
                    <select class="form-control" name="DestID" [(ngModel)]="model.DestID" formControlName="destination">
                      <option value="">Select a Customer...</option>
                      <option *ngFor="let i of ViewDests" [ngValue]="i.DestID">{{i.Destination}}</option>
                    </select>
                    <div class='error' *ngIf="(inFrm.get('destination').touched && !inFrm.get('destination').valid) || (inFrm.get('submitted') && !inFrm.get('destination').valid)">
                      <div class="alert alert-danger" *ngIf="inFrm.get('destination').hasError('required')">Customer is required.</div>
                      <div class="alert alert-danger" *ngIf="inFrm.get('destination').hasError('maxVisit')">this Customer has been visited the max numbers of visits allowed this month.</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="GeneralComment" class="control-label col-md-2 col-sm-2">Overall Comments</label>
                <div class="col-md-10 col-sm-10">
                  <textarea rows="4" cols="10" class="form-control" type="text" name="GeneralComment" [(ngModel)]="model.GeneralComment" formControlName="generalComment"></textarea>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="card">
          <h3 class="card-header alert alert-success" style="margin: 10px 5px; padding: 5px;">Products</h3>
          <div class="card-block">
            <app-visit-drugs *ngIf="Formstate!='Details' && Formstate!='Delete'" [currentUser]="currentUser" [visDrugs]="VisDrugs" [visAnsrs]="visAnsrs"
              [drugmodel]="visDrugModel" [allAnswers]="allAns" (drugChanged)="drugChangeEvent($event)" (ansChanged)="ansChangeEvent($event)">
            </app-visit-drugs>
          </div>
          <table id="tblProducts" class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Product Name</th>
                <th>Comment</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of VisDrugs; let i = index">
                <td>{{item.DrugName}}</td>
                <td>{{item.Comment}}</td>
                <td>
                  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#surveyModal" (click)="prepareDrgAnsrs(i)">
                    <i class="fa fa-comment"></i> Survey</button>
                  <button type="button" class="btn btn-default" *ngIf="Formstate!='Details' && Formstate!='Delete'" (click)="DeleteDrug(i)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card">
          <h3 class="card-header alert alert-warning" style="margin: 10px 5px; padding: 5px;">Promotional Tools</h3>
          <div class="card-block">
            <app-visit-gifts *ngIf="Formstate!='Details' && Formstate!='Delete'" [visGifts]="VisGifts" [visDrugs]="VisDrugs" [giftmodel]="visGiftModel"
              [drgsChanged]="drgsChanged">
            </app-visit-gifts>
          </div>
          <table id="tblGifts" class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Promo Type</th>
                <th>Promo Tool</th>
                <th>Quantity</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of VisGifts; let i = index">
                <td>{{item.GiftName}}</td>
                <td>{{item.ToolName}}</td>
                <td>{{item.Qty}}</td>
                <td>
                  <button type="button" class="btn btn-default" (click)="DeleteGift(i)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group no-print col-md-offset-2 col-md-10 col-sm-10">
          <button type="submit" value="Save" class="btn btn-info" *ngIf="Formstate!='Details' && Formstate!='Delete'">Save</button> |
          <button type="submit" value="Delete" class="btn btn-info" *ngIf="Formstate == 'Delete'">Delete</button> |
          <button type="button" (click)="TableBack()" class="btn btn-danger">Back to List</button>
        </div>
      </div>
    </form>
    <div class="alert alert-danger" *ngIf="errorMessage">
      <p>{{errorMessage}}</p>
    </div>
  </div>
</div>

<!-- Modal Answers-->
<div class="modal fade" id="surveyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Survey of Product: {{selDrugName}}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngFor="let qst of drgAnsrs; let i = index" class="col-lg-offset-2 col-md-offset-2 col-lg-10 col-md-10 col-sm-12 text-left">
          <label class="control-label">{{i+1}}- {{qst.QText}} ?</label>
          <br>
          <md-radio-group class="x-radio-group">
            <div *ngFor="let ans of qst.Answers">
              <md-radio-button class="x-radio-button" [value]="ans.AnswerID" [checked]="ans.checked" style="font-weight: normal!important">{{ans.AnswerText}}</md-radio-button>
            </div>
          </md-radio-group>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Customer Data-->
<!-- <div class="modal fade" #customerModal tabindex="-1" role="dialog" aria-labelledby="customerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"> -->
<ng-template #template>
  <div class="modal-header">
    <h3 class="modal-title" id="customerModalLabel">Please Complete The Customer Data</h3>
    <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (submit)="f.valid && saveCustomer($event)">
      <div class="form-horizontal">
        <div class="form-group">
          <label for="Address" class="control-label col-md-2 col-sm-2">Address 1</label>
          <div class="col-md-5 col-sm-5" [ngClass]="{ 'has-error': f.submitted && !city.valid }">
            <input class="form-control" type="text" name="City" placeholder="City" [(ngModel)]="destModel.City" (change)="generateAddress()"
              required #city="ngModel">
          </div>
          <div class="col-md-5 col-sm-5" [ngClass]="{ 'has-error': f.submitted && !street.valid }">
            <input class="form-control" type="text" name="Street" placeholder="Street" [(ngModel)]="destModel.Street" (change)="generateAddress()"
              required #street="ngModel">
          </div>
        </div>
        <div class="form-group">
          <label for="Address" class="control-label col-md-2 col-sm-2">Address 2</label>
          <div class="col-md-4 col-sm-4" [ngClass]="{ 'has-error': f.submitted && !build.valid }">
            <input class="form-control" type="text" name="Building" placeholder="Building No." [(ngModel)]="destModel.Building" (change)="generateAddress()"
              required #build="ngModel">
          </div>
          <div class="col-md-3 col-sm-3" [ngClass]="{ 'has-error': f.submitted && !flr.valid }">
            <input class="form-control" type="text" name="Floor" placeholder="Floor No." [(ngModel)]="destModel.Floor" (change)="generateAddress()"
              required #flr="ngModel">
          </div>
          <div class="col-md-3 col-sm-3" [ngClass]="{ 'has-error': f.submitted && !flt.valid }">
            <input class="form-control" type="text" name="Flat" placeholder="Flat No." [(ngModel)]="destModel.Flat" (change)="generateAddress()"
              required #flt="ngModel">
          </div>
        </div>
        <div class="card">
          <h3 class="card-header">Location on map</h3>
          <div class="card-block">
            <button type="button" (click)="ChangePosition()">Focus on Province</button>
            <br>
            <br>
            <ngui-map #map [center]="locPos" [zoom]="zoom" geoFallbackCenter="" (idle)="onIdle($event)">
              <marker [position]="locPos" [draggable]="true" (dragend)="log($event, 'dragend')">
              </marker>
            </ngui-map>
          </div>
        </div>
        <br>

        <div class="card">
          <h3 class="card-header">Complementary Data</h3>
          <div class="card-block">
            <div class="form-group">
              <label for="Email" class="control-label col-md-2 col-sm-2">Email</label>
              <div class="col-md-10 col-sm-10">
                <input class="form-control" type="text" name="Email" [(ngModel)]="destModel.Email">
              </div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !mobile.valid }">
              <label for="Mobile" class="control-label col-md-2 col-sm-2">Mobile</label>
              <div class="col-md-10 col-sm-10">
                <input class="form-control" type="text" name="Mobile" [(ngModel)]="destModel.Mobile" #mobile="ngModel" required>
              </div>
            </div>
            <div class="form-group">
              <label for="WhatsAppNo" class="control-label col-md-2 col-sm-2">WhatsApp No</label>
              <div class="col-md-10 col-sm-10">
                <input class="form-control" type="text" name="WhatsAppNo" [(ngModel)]="destModel.WhatsAppNo">
              </div>
            </div>
            <div class="form-group">
              <label for="ClinicTel" class="control-label col-md-2 col-sm-2">Clinic Tel</label>
              <div class="col-md-10 col-sm-10">
                <input class="form-control" type="text" name="ClinicTel" [(ngModel)]="destModel.ClinicTel">
              </div>
            </div>
            <div class="form-group">
              <label for="ClinicTimes" class="control-label col-md-2 col-sm-2">Clinic Times</label>
              <div class="col-md-10 col-sm-10">
                <textarea rows="2" cols="10" class="form-control" name="ClinicTimes" [(ngModel)]="destModel.ClinicTimes"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label for="TeachingUniv" class="control-label col-md-2 col-sm-2">Teaching University</label>
              <div class="col-md-10 col-sm-10">
                <input class="form-control" type="text" name="TeachingUniv" [(ngModel)]="destModel.TeachingUniv">
              </div>
            </div>
            <div class="form-group">
              <label for="ProfTitle" class="control-label col-md-2 col-sm-2">Profissional Title</label>
              <div class="col-md-10 col-sm-10">
                <input class="form-control" type="text" name="ProfTitle" [(ngModel)]="destModel.ProfTitle">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-danger" (click)="modalRef.hide()">Close</button>
      </div>
    </form>
  </div>
</ng-template>
<!-- </div>
  </div>
  </div> -->
