<!-- Menu toggle button -->
<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"> <i
	class="fa fa-envelope-o"></i> <span class="label label-success"
	[innerHTML]="(messages | async)?.length"></span>
</a>
<ul class="dropdown-menu">
	<li class="header">{{(messages | async)?.length}} Messages Waiting</li>
	<li>
		<!-- inner menu: contains the messages -->
		<ul class="menu">
			<li *ngFor="let msg of messages | async; let i = index">
				<!-- start message --> <a href="javascript:void(0)">
					<div class="pull-left">
						<!-- User Image -->
						<!-- <img src="{{msg.author.avatarUrl}}" class="img-circle"
              alt="{{ msg.author.getName() }}"> -->
              <h4>{{msg.authorName}}</h4>
					</div> <!-- Message title and timestamp -->
					<h4>
						{{msg.title}} <small><i class="fa fa-clock-o"></i>
							{{msg.createDate | date:'mediumDate'}}</small>
					</h4> <!-- The message -->
					<p>{{msg.content}}</p>
			</a>
			</li>
			<!-- end message -->
		</ul> <!-- /.menu -->
	</li>
	<!-- <li class="footer"><a href="javascript:void(0)">{{ 'MSGBOX.FOOTER' }}</a></li> -->
</ul>
