<div class="panel panel-default zz">
    <div class="panel-heading">

        <h2> {{headerText}} </h2>
        <button *ngIf="!Formstate " class="btn btn-primary" (click)="CreateNew()">Create New</button>
        <br><br>
        <div class="alert alert-danger" *ngIf="errorMessage">
            <p>{{errorMessage}}</p>
        </div>
    </div>
    <div class="panel-body" *ngIf="showTable">
        <table id="tblVacs" class="table table-hover table-striped table-responsive">
            <colgroup>
                <col width="20%" />
                <col width="20%" />
                <col width="15%" />
                <col width="15%" />
                <col width="15%" />
                <col width="15%" />
            </colgroup>
            <thead>
                <tr>
                    <th> Employee <i (click)="SortTable('UserName')" class="btn btn-default" [ngClass]="(orderbyString.indexOf('UserName') == 1) ? orderbyClass : 'glyphicon glyphicon-sort'"></i></th>
                    <th> IMS <i (click)="SortTable('IMS')" class="btn btn-default" [ngClass]="(orderbyString.indexOf('IMS') == 1) ? orderbyClass : 'glyphicon glyphicon-sort'"></i></th>
                    <th> Vacation Type <i (click)="SortTable('VacType')" class="btn btn-default" [ngClass]="(orderbyString.indexOf('VacType') == 1) ? orderbyClass : 'glyphicon glyphicon-sort'"></i></th>
                    <th> From Date <i (click)="SortTable('FromDate')" class="btn btn-default" [ngClass]="(orderbyString.indexOf('FromDate') == 1) ? orderbyClass : 'glyphicon glyphicon-sort'"></i></th>
                    <th> To Date <i (click)="SortTable('ToDate')" class="btn btn-default" [ngClass]="(orderbyString.indexOf('ToDate') == 1) ? orderbyClass : 'glyphicon glyphicon-sort'"></i></th>
                    <th></th>
                </tr>
                <tr>
                    <th>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-search"></i></span>
                            <input type="text" class="form-control" name="UserName" [(ngModel)]="srchObj.UserName">
                        </div>
                    </th>
                    <th>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-search"></i></span>
                            <input type="text" class="form-control" name="IMS" [(ngModel)]="srchObj.IMS">
                        </div>
                    </th>
                    <th>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-search"></i></span>
                            <input type="text" class="form-control" name="VacType" [(ngModel)]="srchObj.VacType">
                        </div>
                    </th>
                    <th>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-search"></i></span>
                            <input type="text" class="form-control" id="srchFromDate" name="FromDate" [(ngModel)]="srchObj.FromDate">
                        </div>
                    </th>
                    <th>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-search"></i></span>
                            <input type="text" class="form-control" id="srchToDate" name="ToDate" [(ngModel)]="srchObj.ToDate">
                        </div>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <h4 *ngIf="collection.length == 0"><span class="label label-warning text-center">No Data exists to be shown</span></h4>
                <tr *ngFor="let item of (collection | filter:srchObj | orderby:orderbyString) | paginate: { itemsPerPage: 25, currentPage: p }">
                    <td>{{item.UserName}}</td>
                    <td>{{item.IMS}}</td>
                    <td>{{item.VacType}}</td>
                    <td>{{item.FromDate | date: 'dd/MM/yyyy'}}</td>
                    <td>{{item.ToDate | date: 'dd/MM/yyyy'}}</td>
                    <td>
                        <button *ngIf="currentUser.jobClass < 1" (click)='EditThis(item.VacID)' class="btn btn-info" title="Edit"><i class="glyphicon glyphicon-pencil"></i></button>
                        <button (click)="ShowDetails(item.VacID)" class="btn btn-warning" title="Details"><i class="glyphicon glyphicon-eye-open"></i></button>
                        <button *ngIf="currentUser.jobClass < 1" (click)="Delete(item.VacID)" class="btn btn-danger" title="Delete"><i class="glyphicon glyphicon-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event" maxSize="10"></pagination-controls>
        
    </div>

    <div class="panel-body" *ngIf="Formstate">
        <form [formGroup]="inFrm" (submit)="inFrm.valid && HandleForm($event)" novalidate>
            <div class="form-horizontal">

                <h2 *ngIf="Formstate == 'Delete'">Are you sure you want to delete this vacation ?</h2>
                <br>
                <div class="form-group" [ngClass]="{ 'has-error': inFrm.submitted && !inFrm.controls['UserID'].valid }">
                    <label for="UserID" class="control-label col-md-2 col-sm-2">User Name</label>
                    <div class="col-md-10 col-sm-10">
                        <select class="form-control" name="UserID" [(ngModel)]="model.UserID" [formControl]="inFrm.controls['UserID']">
							<option value="">Select a User...</option>
							<option *ngFor="let i of userList" [ngValue]="i.UserID">{{i.UserName}} - {{i.IMS}}</option>
						</select>
                        <div class='error' *ngIf="inFrm.controls['UserID'].touched && !inFrm.controls['UserID'].valid">
                            <div class="alert alert-danger" *ngIf="inFrm.controls['UserID'].hasError('required')">User Name is required.</div>
                        </div>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': inFrm.submitted && !inFrm.controls['VacType'].valid }">
                    <label for="VacType" class="control-label col-md-2 col-sm-2">Vacation Type</label>
                    <div class="col-md-10 col-sm-10">
                        <select class="form-control" name="VacType" [(ngModel)]="model.VacType" [formControl]="inFrm.controls['VacType']">
							<option value="">Select a Vacation Type...</option>
							<option *ngFor="let i of vacTypeList" [ngValue]="i.name">{{i.name}}</option>
						</select>
                        <div class='error' *ngIf="inFrm.controls['VacType'].touched && !inFrm.controls['VacType'].valid">
                            <div class="alert alert-danger" *ngIf="inFrm.controls['VacType'].hasError('required')">Vacation Type is required.</div>
                        </div>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': inFrm.submitted && !inFrm.controls['fromDate'].valid }">
                    <label for="FromDate" class="control-label col-md-2 col-sm-2">From Date</label>
                    <div class="col-md-10 col-sm-10">
                        <input id="FromDate" class="form-control" type="date" name="FromDate" [(ngModel)]="cnvFromDate" [formControl]="inFrm.controls['fromDate']">
                        <div class='error' *ngIf="(inFrm.controls['fromDate'].touched && !inFrm.controls['fromDate'].valid) || (inFrm.submitted && !inFrm.controls['fromDate'].valid)">
                            <div class="alert alert-danger" *ngIf="inFrm.controls['fromDate'].hasError('required')">From Date is required.</div>
                            <!--<div class="alert alert-danger" *ngIf="inFrm.controls['fromDate'].hasError('maxDate')">From Date must be within two days old.</div>-->
                        </div>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': inFrm.submitted && !inFrm.controls['toDate'].valid }">
                    <label for="ToDate" class="control-label col-md-2 col-sm-2">To Date</label>
                    <div class="col-md-10 col-sm-10">
                        <input id="ToDate" class="form-control" type="date" name="ToDate" [(ngModel)]="cnvToDate" [formControl]="inFrm.controls['toDate']">
                        <div class='error' *ngIf="(inFrm.controls['toDate'].touched && !inFrm.controls['toDate'].valid) || (inFrm.submitted && !inFrm.controls['toDate'].valid)">
                            <div class="alert alert-danger" *ngIf="inFrm.controls['toDate'].hasError('required')">To Date is required.</div>
                            <div class="alert alert-danger" *ngIf="inFrm.controls['toDate'].hasError('minDate')">To Date must be Greater Than From Date.</div>
                            <!--<div class="alert alert-danger" *ngIf="inFrm.controls['toDate'].hasError('maxDate')">To Date must be within two days old.</div>-->
                        </div>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': inFrm.submitted && !inFrm.controls['Notes'].valid }">
                    <label for="Notes" class="control-label col-md-2 col-sm-2">Notes</label>
                    <div class="col-md-10 col-sm-10">
                        <textarea rows="2" cols="10" class="form-control" name="Notes" [(ngModel)]="model.Notes" [formControl]="inFrm.controls['Notes']"></textarea>
                    </div>
                </div>
                <div class="form-group no-print col-md-offset-2 col-md-10 col-sm-10">
                    <button type="submit" value="Save" class="btn btn-info" *ngIf="Formstate!='Details' && Formstate!='Delete'" [disabled]='!inFrm.valid'>Save</button>                    |
                    <button type="submit" value="Delete" class="btn btn-info" *ngIf="Formstate == 'Delete'">Delete</button>                    |
                    <button type="button" (click)="TableBack()" class="btn btn-danger">Back to List</button>
                </div>
            </div>
        </form>
        <div class="alert alert-danger" *ngIf="errorMessage">
            <p>{{errorMessage}}</p>
        </div>
    </div>
</div>