<div class="row row-centered">
    <div class="view col-md-12 col-sm-12 col-xs-12">
        <button class="btn btn-large btn-primary pull-left col-md-2 col-sm-2 col-xs-2 col-centered" type="button" (click)="previousMonth()">
            <i class="glyphicon glyphicon-circle-arrow-left"></i>
        </button>
        <div class="text-center col-md-8 col-sm-8 col-xs-8 col-centered">
            <h2 class="text-center">{{MonthName}} - {{Year}}</h2>
        </div>
        <button class="btn btn-large btn-primary pull-right col-md-2 col-sm-2 col-xs-2 col-centered" type="button" (click)="nextMonth()">
            <i class="glyphicon glyphicon-circle-arrow-right"></i>
        </button>
    </div>
</div>