
.large {
	font-size: 2em;
}

.text-muted {
	color: #fff;
	font-size: 1.2em
}

.panel-widget .glyph {
	stroke-width: 2px;
}

.widget-right .text-muted {
	color: #fff;
}
.widget-right .large {
	color: #fff;
}
.no-padding {
	padding: 0; margin: 0;
}

.no-padding i {
	padding: 0; margin: 0;
}